@model TaskViewModel

@{
    ViewData["Title"] = "Task Edit";
}

<h1>Task Edit</h1>

<div class="modal-content">
    <div class="modal-header">
        <h4>Edit task track</h4>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal">
            <form asp-action="create" asp-antiforgery="true">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @Html.HiddenFor(user => user.TaskId)
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StartDate" class="control-label"></label>
                    <input asp-for="StartDate" class="form-control" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DeadlineDate" class="control-label"></label>
                    <input asp-for="DeadlineDate" class="form-control" />
                    <span asp-validation-for="DeadlineDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Add" class="btn btn-primary" />
                    @await Html.PartialAsync("_BackToList", new BackToListViewModel { Action = "Index", Controller = "Task" })
                </div>
            </form>
        </dl>
    </div>
</div>
