@model TaskViewModel

@{
    ViewData["Title"] = "Task Edit";
}

<div class="modal-content">
    <div class="modal-body">
        <dl class="dl-horizontal">
            <h2 class="text-center">Edit task</h2>
            <form asp-action="create" asp-antiforgery="true">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @Html.HiddenFor(user => user.TaskId)
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StartDate" class="control-label"></label>
                    <input asp-for="StartDate" class="form-control" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DeadlineDate" class="control-label"></label>
                    <input asp-for="DeadlineDate" class="form-control" />
                    <span asp-validation-for="DeadlineDate" class="text-danger"></span>
                </div>
                <div class="form-group text-center">
                    <input type="submit" style="width: 18%" value="Save" class="btn btn-success mr-2" />
                    @await Html.PartialAsync("_BackToList", new BackToListViewModel { Action = "Index", Controller = "Task" })
                </div>
            </form>
        </dl>
    </div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScripts"); }
}