@model IEnumerable<VTaskViewModel>

@{
    ViewData["Title"] = "VTasks";
}

<h2 class="text-center my-4">Members</h2>
<div class="row">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Task name</th>
                    <th scope="col">Start date</th>
                    <th scope="col">Deadline Date</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var task in Model)
                {
                    <tr>
                        <th scope="row">#</th>
                        <td>
                            @task.Name
                        </td>
                        <td>
                            @task.Description
                        </td>
                        <td>
                            @task.StartDate
                        </td>
                        <td>
                            @task.DeadlineDate
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
