@model UserProfileViewModel

@{
    ViewData["Title"] = "UserProfile Delete";
}

<div class="text-center">
    <h1>Delete member</h1>
    <h2>Are you sure you want to delete the current memeber?</h2>
</div>
<div class="d-flex justify-content-sm-center">
    <form asp-action="delete" asp-antiforgery="true" method="post">
        @Html.HiddenFor(user => user.UserId)
        <input type="submit" value="Delete" />
    </form>
    @await Html.PartialAsync("_BackToList", new BackToListViewModel { Action = "Index", Controller = "UserProfile" })
</div>
